body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-image: url(/images/map.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
}

#btn-continue {
    display: block;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

#btn-check {
    display: block;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

.section2 {
    display: none;
}

#output-div {
    width: 50%;
    margin: 2rem auto;
    padding: 0rem;
    height: 20vh;
    font-size: 2.5rem;
    font-weight: bold;
}