@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
    --primary-color: rgb(10, 25, 47);
    --secondary-color: rgb(136, 146, 176);
    --highlight: rgb(100, 255, 218);
    --white-color: rgb(204, 214, 246);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(10, 25, 47);
    color: var(--white-color);
    font-family: 'Architects Daughter', cursive;
}

#flex {
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
   
}

h2 {
    font-size: 25px;
    margin: 2rem 0rem;
}

h3 {
    color: var(--secondary-color);
}

input {
    width: 70%;
    margin: 2rem 0rem;
    padding: 1rem;
    background-color: var(--white-color);
    color: black;
}

button{
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 3px;
    display: block;
    color: var(--highlight);
    background-color: transparent;
    border: 1px solid var(--highlight);
}

button:hover{
    background-color: var(--highlight);
    color: var(--primary-color);
}

.section { 
    max-width: 600px;
    width: 100%;
    padding: 2.5rem;
    text-align: center;
    border: 1px solid var(--highlight);
}

.section2 {
    display: none;
}

#output-div {
    width: 100%;
    margin: 2rem auto;
    padding: 0rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--highlight);
    color: var(--primary-color);
}